evaluators/__pycache__/arc.cpython-311.pyc
prints
helper.sh
data_build.sh
run_arcagi1.sh
outputs
pasque_env/
new_env/
*_pycache_*
data/arc1concept-aug-1000
data/arc2concept-aug-1000
data/sudoku-extreme-1k-aug-1000
wandb/
checkpoints/
wandb_sync.sh
gpu_check.sh
/*.sh
.DS_Store
.idea
.claude
CLAUDE.md
.venv
